# MongoDB Connection URI
MONGODB_URI=mongodb://localhost:27017/counton_db

# SESSION_SECRET=your_strong_session_secret_here_please_change_me # No longer needed for JWT auth

# JWT Secrets - CRITICAL: Use strong, unique random strings for these in production!
ACCESS_TOKEN_SECRET=your_very_strong_random_access_token_secret_here
REFRESH_TOKEN_SECRET=your_even_stronger_random_refresh_token_secret_here

# JWT Expiration Times (examples)
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
# REFRESH_TOKEN_COOKIE_MAX_AGE=604800000 # Optional: 7 days in ms (if overriding appConfig default for cookie)


# Server Port (Optional - defaults to 3000 if not set)
PORT=3000

# Server Base URL (Optional - defaults to http://localhost:PORT)
SERVER_BASE_URL=http://localhost:3000

# Frontend URL (Optional - defaults to http://localhost:3001)
FRONTEND_URL=http://localhost:3001

# Node Environment (Optional - defaults to 'development')
NODE_ENV=development
